<h2>Authors</h2>
<table class="table table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Author Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
     <% @authors.each do |author| %>
    <tr>
      <td><%= author.first_name%> <%=author.last_name %></td>
      <td><%= link_to "Edit", edit_author_path(author), class:"btn btn-warning btn-sm"%> <%= link_to "Delete", author_path(author), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger btn-sm" %>
      </td>
    </tr>
    <% end %>
</tbody>
</table>