<h2>Categoies</h2>
<table class="table table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Category Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
     <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to "Edit", edit_category_path(category), class:"btn btn-warning btn-sm"%> <%= link_to "Delete", category_path(category), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger btn-sm" %>
      </td>
    </tr>
    <% end %>
</tbody>
</table>